html {
  height: 100%;
  width: 100%;
}

.btn {
  width: 100px;
  display: block !important;
  margin: auto !important;
}
a{
  text-decoration: none !important;
}
h4{
  color: black !important;
}
h4:hover{
  color: gray !important;
}
h5{
  color: lightslategray !important;
}
h5:hover{
  color: lightgray !important;
}